/* Space out content a bit */
.body{
	height:100%;
}

.html{
	height:100%;
}

.mainContent {
	padding-left: 20px;
	padding-right: 20px;
}

.bs-callout {
	margin: 20px 0;
	padding: 20px;
	border-left: 3px solid #EEE;
}

.bs-callout-warning h4 {
	color: #F0AD4E;
}

.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.bs-callout-warning {
	background-color: #FCF8F2;
	border-color: #F0AD4E;
}

.orderActive {
	color: red;
}

.greenFont {
	color: green;
	font-weight:bold;
	font-size: 16px;
}

#userCode{
	color:green;
	font-weight: bold;
	font-size: 16px;
}

.page-header{
	margin-top:10px;
}

/* Hide for mobile, show later */
.showMobile {
	display: block;
}

@media (min-width: 768px) {
	.showMobile {
		display: none;
	}
}

/* Hide for mobile, show later */
.hideMobile {
	display: none;
}

@media (min-width: 768px) {
	.hideMobile {
		display: block;
	}
}

.filterList{
	margin:0;
}

li{
	cursor:pointer;
}

.list{
	height:95%;
	overflow:hidden;
	overflow-x: auto;
	overflow-y: auto;
}