/* Space out content a bit */
.body{
	height:100%;
}

.html{
	height:100%;
}

.main-content {
	padding-bottom:30px;
}

.bs-callout {
	margin: 20px 0;
	padding: 20px;
	border-left: 3px solid #EEE;
}

.bs-callout-warning h4 {
	color: #F0AD4E;
}

.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.bs-callout-warning {
	background-color: #FCF8F2;
	border-color: #F0AD4E;
}

.orderActive {
	color: red;
}

.greenFont {
	color: green;
	font-weight:bold;
	font-size: 16px;
}

#userCode{
	color:green;
	font-weight: bold;
	font-size: 16px;
}

.page-header{
	margin-top:10px;
}

/* Hide for mobile, show later */
.showMobile {
	display: block;
}

@media (min-width: 768px) {
	.showMobile {
		display: none;
	}
}

/* Hide for mobile, show later */
.hideMobile {
	display: none;
}

@media (min-width: 768px) {
	.hideMobile {
		display: block;
	}
}

.filterList{
	margin:0;
}

li{
	cursor:pointer;
}

.list{
	height:91%;
	overflow:hidden;
	overflow-x: auto;
	overflow-y: auto;
}

.bs-docs-masthead, .bs-docs-header {
	position: relative;
	padding: 55px 15px;
	height:500px;
	color:#ffffff;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	background-color: #325b8a;
	background-image: -webkit-linear-gradient(top, #325b8a 0, #3b79b1 100%);
	background-image: linear-gradient(to bottom, #325b8a 0,#3b79b1 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#325b8a', endColorstr='#3b79b1', GradientType=0);
}

.bs-docs-masthead .bs-docs-booticon {
	margin: 0 auto 30px;
}
.bs-docs-booticon-outline {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid white;
}
.bs-docs-booticon-lg {
	width: 196px;
	height: 144px;
	font-size: 108px;
	line-height: 140px;
}
.bs-docs-booticon {
	display: block;
	font-weight: 500;
	color: #FFF;
	border-radius: 15%;
	cursor: default;
	text-align: center;
}

.btn-outline {
	color: #325b8a;
	padding-top:15px;
	background-color: rgba(0, 0, 0, 0);
	border-color: #563D7C;
}

.btn-outline-inverse {
	color: #FFF;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0);
	border-color: #ffffff;
}

.btn-outline-inverse:hover {
	color: #325b8a;
	background-color: #ffffff;
	border-color: #ffffff;
}

.navbar.navbar-default.navbar-static-top.ng-scope {
	margin: 0px;
}

.row{
	padding-left:20px;
	padding-right:20px;
}

.version{
	color: rgba(255,255,255,.5);
}

.suggestions{
	padding: 15px 0;
	text-align: left;
	padding-left:35px;
	background-color: #F5F5F5;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #DDD;
}

.short-info{
	padding: 5px 15px;
	height:160px;
	text-align: left;
}

.short-info p{
	font-size: 24px;
	color: #d2ddff;
}

.bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav>li>a {
	color: #325b8a;
	font-weight: 500;
}

#navbar-title {
	color: #325b8a;
	font-weight: 500;
}

.container-fluid{
	padding:0;
	margin:0;
}

.bs-docs-header p {
	margin-bottom: 0;
	font-weight: 300;
	line-height: 1.4;
}

.main-table{
	height:85%;
}

.table-hover{
	height:95%;
}

.footer{
	border:2px solid black;
}

/* Animations */

/*	-webkit-transition: opacity .3s ease-out;*/

.slide.ng-enter {
	/*State when enter is done */
	opacity: 0;
	-webkit-transition: opacity .3s linear;
	transition: opacity .3s linear;
}

.slide.ng-enter-active {
	/*State when enter is active */
	opacity: 1;
}

.lead b{
	padding-right:2px;
}

.wrapper{
	padding-top:20px;
	padding-bottom: 30px;
}

.app-switch{
	position:absolute;
	right:20px;
	top:110px;
}