/* Space out content a bit */

.mainContent {
	padding-left: 20px;
	padding-right: 20px;
}




.bs-callout {
	margin: 20px 0;
	padding: 20px;
	border-left: 3px solid #EEE;
}

.bs-callout-warning h4 {
	color: #F0AD4E;
}
.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.bs-callout-warning {
	background-color: #FCF8F2;
	border-color: #F0AD4E;
}

.greenFont{
	color:green;
}

.redF