<div class="container-fluid bs-docs-container">
  <main class="bs-docs-masthead" id="content" role="main">
    <div class="container">
      <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">BIP</span>
      <!-- <h1>Bootstrap</h1> -->
      <p class="lead">Building Information Properties - Ett system för egenskaper och  beteckningar på objekt i fastigheter</p>
      <p class="lead">
        <a ng-href="#/info" class="btn btn-outline-inverse btn-lg">Om BIP</a>
        <a ng-href="#/egenskaper" class="btn btn-outline-inverse btn-lg">Egenskaper</a>
        <a ng-href="#/beteckningar" class="btn btn-outline-inverse btn-lg">Beteckningar</a>

      </p>
      <p class="version">Version v0.9.5</p>
    </div>
  </main>
  <div class="suggestions">
    BIP är fortfarande på ett tidigt stadium. För att göra BIP än bättre behövs dina synpunkter. Lämna gärna dessa till berörda personer under <a href="#/kontakt">kontakt</a>
  </div>
  <div class="row">
    <div class="col-sm-12" role="main">

      <div class="col-sm-4">
        <div class="bs-docs-section">
          <h3 class="page-header">Effektivare informationsflöden</h3>
          <p>
            BIP, Building Information Properties, ger effektivare informationsflöde mellan projektörer – byggare – installatörer – drift och förvaltning genom gemensamma beteckningar, koder och beskrivningar som underlättar för alla berörda. Alla kan använda samma beteckningar och egenskapsbeskrivningar i alla led vilket minskar arbete, felrisker och ger spårbarhet.
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="bs-docs-section">
          <h3 class="page-header">Beprövat system</h3>
          <p>
            Grunden för beteckningarna är Svensk Standard som används i Bygghandlingar 90 del 2 och 5. BIP har utvecklats av Ramböll, Sweco, WSP och ÅF på Nya Karolinska Solna och i flera projekt därefter. Man tog initiativ att bjuda på sina kunskaper inom BIM Alliance. Beteckningarna kopplas till BSAB-systemet som används i AMA så att det blir en väg till branschgemensamma lösningar.  Egenskaper för objekt beskrivs. De ingår i ett propertyset inom IFC som är en internationell standard.
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="bs-docs-section">
          <h3 class="page-header">Användning i IT-system </h3>
          <p>
            Informationen kan användas i CAD-program och i andra IT-system för kalkyl, produktion, drift mm. Arbete pågår för att integrera informationen i system. Ett exempel på nytta av BIP är att import av information från CAD-system till kalkylsystem underlättas avsevärt. På liknande sätt kan informationsleveranser mellan andra system göras enklare och säkrare.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

