<div class="container-fluid bs-docs-container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1" role="main">
    <!-- Global Bootstrap settings
    ================================================== -->
      <div class="bs-docs-section">
        <h1 id="overview" class="page-header">Om BIP-Type ID</h1>
        <p class="lead">
          BIP-Type ID är ett kategoriserings och namngivningssystem för beteckningar av komponenter för fastigheter och VA. BIP-Type ID är inte en officiell standard utan ett förslag på ett system som
          fritt kan användas av de som önskar.
        </p>
      </div>
    </div>
  </div>
</div>