<div class="bs-docs-header short-info">
    <h1>Kontakt</h1>
    <p>Kontakta oss gärna för att göra BIP än bättre!</p>
</div>

<div class="container-fluid bs-docs-container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1" role="main">
      <!-- Global Bootstrap settings
      ================================================== -->
      <div class="bs-docs-section">
        <h2 class="page-header">Betecknignar</h2>
        <h4>Rör och ventilation</h4>
        <p>Jan Back, ÅF</p>
        <a href="mailto:jan.back@afconsult.com?Subject=BIP" target="_top">
          jan.back@afconsult.com</a>
        <br>
        <br>
        <p>Sara Beltrami, Tyréns</p>
        <a href="mailto:sara.beltrami@tyrens.se?Subject=BIP" target="_top">
          sara.beltrami@tyrens.se</a>
        <br>
        <br>

        <h4>El och tele</h4>
        <p>Malin Knoop, WSP</p>
        <a href="mailto:malin.knoop@wspgroup.com?Subject=BIP" target="_top">
          malin.knoop@wspgroup.com
        </a>
        <br>
        <br>
        <p>Peter Jönsson, WSP</p>
        <a href="mailto:peter.jonsson@wspgroup.com?Subject=BIP" target="_top">
          peter.Jonsson@wspgroup.com
        </a>
        <br>
        <br>
        <p>Tobias Elgström, WSP</p>
        <a href="mailto:tobias.elgstrom@wspgroup.com?Subject=BIP" target="_top">
          tobias.elgstrom@wspgroup.com
        </a>

        <h2 class="page-header">Egenskaper</h2>
        <p>Sölve Harr, Sweco</p>
        <a href="mailto:solve.harr@sweco.se?Subject=BIP" target="_top">
          solve.harr@sweco.se</a>

        <h2 class="page-header">Webb</h2>
        <p>Per Ström, Sweco</p>
        <a href="mailto:per.strom@sweco.se?Subject=BIP" target="_top">
          per.strom@sweco.se
        </a>
      </div>
    </div>
  </div>
</div>