<div class="row">
  <div class="col-sm-8 col-sm-offset-1" role="main">
    <div class="bs-docs-section">
      <h1 id="overview" class="page-header">Building Information Properties – en väg till sänkta kostnader </h1>

      <p class="lead">Projektörer, installatörer och kalkylatorer, liksom byggherrar kan och bör använda gemensamma beteckningar och koder på 3D-objekt inom BIM. </p>

      <p>
        BIP – Building Information Properties – beskriver hur 3d-objektens egenskaper benämns vid IFC-export, så att det inte blir olika beroende på vilken programvara som används.  Egenskaperna samlas också på sådant sätt att det blir lätt för mottagaren vid en rundvandring i modellen att hitta informationen. BIP medför att mottagaren av IFC-filen, redan före första leverans, kan börja planera sitt arbete och komma med förbättringsförslag så att modellerna kan användas och verkligen ge det stöd som den mottagande parten behöver.
      </p>
      <h3 id="overview-doctype">Med effektivisering kan byggkostnaderna sänkas</h3>
      <p>
        En stor utmaning för byggbranschen är att sänka byggkostnaderna. För att nå dit måste vi effektivisera byggprocesserna. Ett sätt kan vara att använda BIM som stöd i beslutsarbetet. Ett byggprojekt, även ett litet sådant, hanterar stora mängder information. Så stora mängder att det är svårt för människan att strukturera och organisera informationen för att därefter kunna fatta rätt beslut. Alla i byggbranschen, oavsett om vi projekterar, arbetar i produktion eller förvaltar, behöver IT-stöd. Program, vid sidan av modelleringsprogrammen, som baseras på samlad kunskap och goda erfarenheter och som hjälper till att strukturera informationen så att vi har tillgång till precis den information som vi behöver när ett beslut ska fattas. För att kunna bygga dessa program så att de kan användas för mer än ett projekt så behöver vi ett språk som vi alla förstår och tolkar lika, både människor och IT-system.
      </p>

      <h3 id="overview-doctype">BIP tillämpas i flera projekt</h3>
      <p>
        För objektsegenskaper finns bland annat IFC och för klassificering finns i Sverige BSAB. Svensk Byggtjänst som förvaltar BSAB driver ett arbete kring hur tabellerna kan anpassas för BIM. Behovet av ett gemensamt språk finns dock redan här och nu.  BIP är en projekttillämpning från Nya Karolinska Solna som vi med stöd från SBUF nu kunnat göra mer generell för tillämpning i andra projekt. Vår erfarenhet av BIP är att fler aktörer vågat lita på modellinformationen och därför valt att använda den i sitt arbete, vilket i sin tur effektiviserat ett flertal processer.
      </p>

      <h3 id="overview-doctype">BIP − en branschgemensam tillämpning </h3>
      <p>
        I brist på en branschgemensam lösning har man hittills gjort projektanpassningar i nästan varje projekt. Leverantörerna av CAD-program har sina benämningar på objekt.  Nu kan vi med BIP arbeta för en lösning som minskar behovet av ständiga anpassningar och som kan användas även i följande led.
      </p>

      <h3 id="overview-doctype">BSAB kompletteras med beteckningar, TypeID</h3>
      <p>
        Bland egenskaperna i BIP finns klassificering enligt BSAB. I dagsläget är vår bedömning att BSAB inte räcker till för att ge en entydig tolkning med en detaljeringsnivå som är nödvändig för projekteringsskedet. Egenskapen TypeID används för beteckningar. För VVS kan TypeID jämställas med den beteckning som skrivs ut på ritning och som återfinns i beskrivningen. Beteckningarna grundas på svensk standard och används i Bygghandlingar 90 och är välkända av människorna i olika roller.  För El, som traditionellt sett har en symbolredovisning, är TypeID ett första steg för att möjliggöra redovisning utan symboler. Vi tror att det är ett steg för att i framtiden kunna göra leveranser med så få pappersritningar som möjligt.
      </p>

      <h3 id="overview-doctype">BIP utvecklas genom samarbete mellan olika aktörer</h3>
      <p>
        För att höja branschen måste vi öka samarbetet, över disciplingränser och mellan olika aktörer. Ju mer transparent vi arbetar desto fler kloka synpunkter och förbättringsförslag kan vi få. Ett mål med BIP är just därför att synliggöra hur vi arbetar. Kanske finns det någon disciplin som har en bättre lösning som vi alla kan använda?  Vi kommunicerar med dig och har du kloka idéer som kan leda till förbättringar så hoppas vi att du kommunicerar med oss.
      </p>

      <h3 id="overview-doctype">Installation och bygg – en branschgemensam utveckling</h3>
      <p>
        Det som finns på bip.se nu omfattar VVS, El och tele.
        Initiativet togs av Ramböll, Sweco, WSP och ÅF inom BIM Alliance, installationsgruppen ledd av Andreas Udd. Arbetet har finansierats av SBUF, Svenska byggbranschens utvecklingsfond, med Skanska Installation som huvudman för projektet. Många företag har bidragit med kunskaper och synpunkter.  Från SBUF-projektet Virtuella installationer har framförallt VVS-företagen, Svensk Ventilation, Imtech, Skanska Installation, Energivärden och Locum bidragit med sina kunskaper. Byggare, arkitekter och konstruktörer har tagit ett initiativ för att utveckla motsvarande lösningar under hösten 2014 om finansieringen kan lösas.
      </p>

      <h3 id="overview-doctype">Fler kodsystem finns</h3>
      <p>
        Det kan eventuellt behövas kopplingar mellan BIP och BSAB och andra kodsystem. Aff-Forum vidareutvecklar ett kodsystem för avtal för fastighetsförvaltning som publiceras hösten 2014.  System för egenskaper i enlighet med standarden ETIM införs av materialleverantörernas organisationer. En samordning med BIP och detta arbete bör ske.
      </p>
    </div>
  </div>

</div>
