<div class="row wrapper">
  <div class="col-sm-8 col-sm-offset-1" role="main">
    <h2 class="page-header">Instruktioner</h2>

    <h3>Allmänna instruktioner</h3>
    <a class="btn btn-default" target="_blank" href="./resources/bip_instruktioner.pdf">
      <i class="fa fa-download"></i> Ladda ned</a>

    <h3>Applikationspecifika instruktioner</h3>

    <ul>
      <li>
        <label>MagiCAD:</label>
        <a class="btn btn-default" target="_blank" href="./resources/bip_magicad.pdf">
          <i class="fa fa-download"></i> Ladda ned</a>
      </li>

    </ul>

  </div>
</div>