<div class="bs-docs-header short-info">
  <div class="pull-left">
    <h1>Egenskaper</h1>
    <p>Gemensamma egenskaper (properties) på BIM-objekt</p>
  </div>
  <div class="btn-group pull-right app-switch">
    <a href='#/egenskaper/app' class="btn btn-default" ng-model="radioModel" btn-radio="'app'" uncheckable>App</a>
    <a href='#/egenskaper/instruktioner' class="btn btn-default" ng-model="radioModel" btn-radio="'instruktioner'" uncheckable>Instruktioner</a>
  </div>

</div>


<div ui-view class="slide" style="height:100%"></div>